<div class="w(400) mt(200) mx-auto brdr1 brdrc--grey br5 bgc--white bxsh1 pa1">
	<form novalidate name="formRegistro" ng-submit="agregarUsuario(usuario)">
		<div class="form-group row" ng-class="{'has-danger':formRegistro.idUsuario.$dirty && formRegistro.idUsuario.$error.required}">
			<label class="col-sm-3 col-form-label" for="usuario">Usuario</label>
			<div class="col-sm-9">
				<input type="text" id="usuario" class="form-control" placeholder="Usuario" ng-model='usuario.idUsuario' ng-required="true" name="idUsuario">
				 <div class="form-control-feedback">Debes ingresar tu <usuario</div>
			</div>
		</div>

		<div class="form-group row" ng-class="{'has-danger':formRegistro.contrasena.$dirty && formRegistro.contrasena.$error.required}">
			<label class="col-sm-3 col-form-label" for="contrasena">Contrasena</label>
			<div class="col-sm-9">
				<input type="password" id="contrasena" class="form-control" ng-model='usuario.contrasena' name="contrasena" ng-required="true">
				<div class="form-control-feedback">Debes ingresar una contraseña</div>

			</div>
		</div>

		<div class="form-group row" ng-class="{'has.danger':formRegistro.gimnacio.$dirty && formRegistro.gimnacio.$error.required'}">
			<label class="col-sm-3 col-form-label" for="gimnacio">Gimnacio</label>
			<div class="col-sm-9">
				<input type="text" id="gimnacio" class="form-control" placeholder="Gimnacio" ng-model='usuario.gimnacio' name="gimnacio" ng-required="true">
				<div class="form-control-feedback">Debes ingresar el nombre de tu gimnacio</div>

			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Imagen de perfil</label>
			<div class="col-sm-9">
				<img src="/img/user-1.png" class="w(100) h(100) mb1 img-thumbnail dib">
				<input type="file" class="form-control-file mx-auto dib">
			</div>
		</div>

		<div class="form-group row">
		<div class="col-sm-12">
			<button type="submit" class="fr btn btn-secondary bg-success text-white boton__opciones" ><img src="/img/checked.png" class="icono mr1">Registrarse</button>
		</div>
			
		</div>

	</form>	
</div>