


  <div class="container-fluid h-100 pa3">
    <div class="row">
      <div class="col-sm-3">
        <ul class="mx-auto" id="lista">
          <li class="ft10 tac pa1">{{gimnacio}}</li>
          <hr>      
          <li><a ui-sref='dashBoard.clientes'>Clientes</a></li>
          <li><a ui-sref='dashBoard.subscripciones'>Planes</a></li>
          <li><a ui-sref='dashBoard.rutinas'>Rutinas</a></li>
          <li><a ui-sref='dashBoard.clases'>Clases</a></li>
          <hr>
          <li>Personal</li>
          <li>Estadisticas</li>
          <hr>
          <li>Cuenta</li>
          <li ng-click="logout()">Salir<img src=""></li>
        </ul>
      </div>
      <div class="col-sm-9 h-100" ui-view>

      </div>
    </div>
  </div>
</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script> -->

