  <div class="container-fluid h-100 pa3">
    <div class="row">
      <div class="col-sm-3">
        <ul class="mx-auto" id="lista">
          <li class="ft10 tac pa1">{{gimnacio}}</li>
          <hr>
          <li><a ui-sref='dashBoard.clientes'>Clientes</a></li>
          <li><a ui-sref='dashBoard.subscripciones.planes'>Planes</a></li>
          <li><a ui-sref='dashBoard.rutinas'>Rutinas</a></li>
          <li><a ui-sref='dashBoard.clases'>Clases</a></li>
          <hr>
          <li>Personal</li>
          <li>Estadisticas</li>
          <hr>
          <li>Cuenta</li>
          <li ng-click="logout()">Salir<img src=""></li>
        </ul>
      </div>
      <div class="col-sm-9 h-100" ui-view>

      </div>
    </div>
  </div>