<div class="brdr1 brdrc--grey br5 bgc--white bxsh1 mb1">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Lunes</th>
				<th>Martes</th>
				<th>Miercoles</th>
				<th>Jueves</th>
				<th>Viernes</th>
				<th>Sabado</th>
				<th>Domingo</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>6am</td>
				<td class="hoverable">Rumba</td>
				<td>Rumba</td>
				<td></td>
				<td>cardio</td>
				<td></td>
				<td></td>
				<td>Rumba</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="brdr1 brdrc--grey br5 bgc--white bxsh1 mb1 pa1">
Rumba  -  6:00am  -  Andres Gomes  -  salon multiple
<img src="/img/cancel.png" class="icono fr dib">
</div>

<div class="brdr1 brdrc--grey br5 bgc--white bxsh1 pa1">
	
<form class="form-inline">
  <input type="text" class="form-control form-control-lg" id="inlineFormInput" placeholder="Clase">

  <input type="number" class="form-control form-control-lg" id="inlineFormInput" placeholder="00:00">
  
  <input type="text" class="form-control form-control-lg" id="inlineFormInput" placeholder="dia">
  <input type="text" class="form-control form-control-lg" id="inlineFormInput" placeholder="Profesor">
  
  <img src="/img/checked.png" class="icono dib fr">
</form>

</div>