<div class="brdr1 brdrc--grey br5 bgc--white bxsh1">
	<div class="brdr1--bottom brdrc--grey pa1">
		<a ui-sref='dashBoard.rutinas'><img class="icono__mediano" src="/img/left-arrow.png"></a>
		<h5 class="dib">Rutina 1</h5>
	</div>
<div class="ma1">
	<div class="w(50) ma1">		
		<div class="pa1 mt1 mb1 brdr1 brdrc--grey br5 w(50) mx-auto">
			<img class="icono__mediano" src="/img/list-2.png">				
		</div>		
		<div class="w(50) mx-auto">
			<h6>rutina 1</h6>	
		</div>	
	</div>

	<p>Fecha de subida : 12/02/2016</p>
	<p>Subida Por : Admin</p>
</div>	
</div>