<div ui-view>
<div class="bgc--white bxsh1 pa1 br5 brdrc--grey flex wrap aic">
	<div class="w(50) ma1">		
		<img src="/img/cancel.png" class="icono--centrado mx-auto">
		<a ui-sref='dashBoard.rutinas.detalleRutina'>
		<div class="pa1 mt1 mb1 brdr1 brdrc--grey br5 w(50) mx-auto">
			<img class="icono__mediano" src="/img/list-2.png">				
		</div>
		</a>		
		<div class="w(50) mx-auto">
			<h6>rutina 1</h6>	
		</div>	

	</div>

	<div class="w(50) ma1">		
		<img src="/img/cancel.png" class="icono--centrado mx-auto">
		<div class="pa1 mt1 mb1 brdr1 brdrc--grey br5 w(50) mx-auto">
			<img class="icono__mediano" src="/img/list-2.png">				
		</div>		
		<div class="w(50) mx-auto">
			<h6>rutina 2</h6>	
		</div>	

	</div>

<div class="w(50) ma1">		
		<img src="/img/cancel.png" class="icono--centrado mx-auto">
		<div class="pa1 mt1 mb1 brdr1 brdrc--grey br5 w(50) mx-auto">
			<img class="icono__mediano" src="/img/list-2.png">				
		</div>		
		<div class="w(50) mx-auto">
			<h6>rutina 3</h6>	
		</div>	

	</div>

<div class="w(50) ma1">
			<img src="/img/plus.png" class="icono__mediano--centrado mx-auto">
		</div>

</div>
</div>