<div ui-view>
<div class="bgc--white bxsh1 pa1 bblr5 bbrr5 btrr5 brdrc--grey flex wrap aic">
	<div class="ma1 brdr1 br3 brdrc--grey" ng-repeat="plan in planes">
		<div class="dib pa1 pt2 pb2 brdr1--right brdrc--grey">
			<h3 class="ft4">{{plan.nombre}}</h3>
			<h1 class="ft8">{{plan.duracion}}</h1>
		</div>
		<div class="dib pt2 pb2 pa1">
			<h1 class="ft10">{{plan.precio}}</h1>
		</div>
		<img src="/img/close.svg" class="icono ma1 fr" ng-click="eliminarPlan(plan._id,$index)">
	</div>
	<div class="ma1 pa3 brdr1 br3 brdrc--grey">
		<a ui-sref='dashBoard.subscripciones.planes.nuevo'><img src="/img/plus.svg" class="icono__mediano--centrado"></a>
	</div>

</div>
</div>