<div ui-view>
<div class="bgc--white bxsh1 pa1 bblr5 bbrr5 btrr5 brdrc--grey flex wrap aic">
	<div class="ma1 brdr1 br3 brdrc--grey">
		<div class="dib pa1 pt2 pb2 brdr1--right brdrc--grey">
			<h3 class="ft4">ingresos</h3>
			<h1 class="ft8">4</h1>
		</div>
		<div class="dib pt2 pb2 pa1">
			<h1 class="ft4">semanal</h1>
			<h1 class="ft8">15.000$</h1>
		</div>
		<img src="/img/cancel.png" class="icono ma1 fr">
	</div>	

	<div class="ma1 brdr1 br3 brdrc--grey">
		<div class="dib pa1 pt2 pb2 brdr1--right brdrc--grey">
			<h3 class="ft4">ingresos</h3>
			<h1 class="ft8">9</h1>
		</div>
		<div class="dib pt2 pb2 pa1">
			<h1 class="ft4">quincenal</h1>
			<h1 class="ft8">28.000$</h1>
		</div>
		<img src="/img/cancel.png" class="icono ma1 fr">
	</div>	
		
	<div class="ma1 pa3 brdr1 br3 brdrc--grey">
		<a ui-sref='dashBoard.subscripciones.tiquetera.nueva'>
			<img src="/img/plus.png" class="icono__mediano--centrado">
		</a>
	</div>
</div>
</div>